/* -------------------------------------import-link---------------------------------------- */
@import url(https://db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept);

/* -------------------------------------Acumin Pro font' import-link---------------------------------------- */
@import url('https://fonts.cdnfonts.com/css/acumin-pro');

* {
    margin: 0;
    padding: 0;
    font-family: "Acumin Variable Concept", sans-serif;
    font-family: 'Acumin Pro', sans-serif;
    box-sizing: border-box;
}

:root {
    --logo-clr: #4FC1E9;
    --header-clr: #4C5270;
    --body-clr: #2c3148;
    --box-clr: #2B6670;
    --btn-clr: #1c545e;
    --btn-hover-clr: #15474f;
    --search-clr: #E5F2F0;
    --theme-btn-clr: #3c6870;

    --logo-clr: #4FC1E9;
    --header-clr: #10141C;
    --body-clr: #131A29;
    --box-clr: #2B6670;
    --btn-clr: #233D63;
    --btn-hover-clr: #15474f;
    --search-clr: #E5F2F0;
    --theme-btn-clr: #3c6870;
    --light-mode-header-clr: #E5F0F6;
    --light-mode-body-clr: #D3DDE3;

    /* light-mode-clr */
    --light-mode-header-clr: #E5F0F6;
    --light-mode-body-clr: #D3DDE3;
}

body {
     background-color: var(--body-clr); 
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

body.light-mode {
    --logo-clr: #4FC1E9;
    --header-clr: #E4ECF4;
    --body-clr: #babdc0;
    --box-clr: #2B6670;
    --btn-clr: #233D63;
    --btn-hover-clr: #15474f;
    --search-clr: #E5F2F0;
    --theme-btn-clr: #3c6870;
    --light-mode-header-clr: #E5F0F6;
    --light-mode-body-clr: #D3DDE3;
}

body.dark-mode {
        --logo-clr: #4FC1E9;
    --header-clr: #4C5270;
    --body-clr: #2c3148;
    --box-clr: #2B6670;
    --btn-clr: #1c545e;
    --btn-hover-clr: #15474f;
    --search-clr: #E5F2F0;
    --theme-btn-clr: #3c6870;

    --logo-clr: #4FC1E9;
    --header-clr: #10141C;
    --body-clr: #131A29;
    --box-clr: #2B6670;
    --btn-clr: #233D63;
    --btn-hover-clr: #15474f;
    --search-clr: #E5F2F0;
    --theme-btn-clr: #3c6870;
    --light-mode-header-clr: #E5F0F6;
    --light-mode-body-clr: #D3DDE3;
}

/* -------------------------------------------------main-sidebar------------------------------------ */

.main-sidebar {
    width: 100%;
    height: 100%;
    max-height: 106px;
    min-height: 50px;
    display: flex;
}

.main-sidebar .main-sidebar-content {
    width: 100%;
    height: 100%;
    mix-height: 50px;
    background-color: var(--header-clr);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    margin: 25px 25px 0 25px;
}

.main-sidebar-content .logo img.logo-img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    background: transparent;
}

.main-sidebar-content .themeAndSearch {
    width: 100%;
    height: 55px;
    min-height: 50px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 0 10px;
    
}

.main-sidebar-content .themeAndSearch .search-box {
    width: 100%;
    height: 100%;
    min-height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: end;
}

.main-sidebar-content .themeAndSearch .search-box input.search-input,
.themeAndSearch .search-box .show-box input.show-search-input {
    width: 300px;
    height: 55px;
    min-height: 50px;
    background-color: var(--search-clr);
    border: none;
    outline: none;
    border-radius: 20px 0 0 20px;
    box-shadow: 0px 0px 10px 0px rgba(48, 48, 48, 0.3);
    color: #000;
    font-size: 16px;
    text-align: left;
    padding: 10px 20px;
}

.themeAndSearch .search-box input.search-input::placeholder {
    font-size: 16px;
    text-align: left;
    /* padding-bottom: 2px; */
}


.themeAndSearch .search-box button.search-btn,
.themeAndSearch .search-box .show-box button.show-search-btn {
    height: 55px;
    width: 70px;
    border: none;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-clr);
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.themeAndSearch .search-box button.search-btn:hover {
    background-color: var(--btn-hover-clr);
}

.themeAndSearch .search-box .show-box {
    position: absolute;
    top: 200px;
    right: 30px;
    width: 300px;
    height: 50px;
    min-height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    transform: translateX(400px);
    transition: transform 0.3s ease-in-out;
}

.themeAndSearch .search-box .animation {
    transform: translateX(10px);

}


.themeAndSearch .search-box .show-box input.show-search-input  {
    width: 100%;
}

.themeAndSearch .search-box .show-box button.show-search-btn {
    width: 70px;
    
}

.themeAndSearch .theme-selector {
    width: 70px;
    height: 55px;
    min-height: 50px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
}

.main-sidebar .main-sidebar-content .themeAndSearch .theme-selector nav.mode {
    width: 70px;
    height: 55px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-btn-clr);
    border-radius: 20px;
    color: #fff;
}

/* ===================================Navigation for mobile devices =========================================== */
@media screen and (min-width: 1250px) and (max-width: 1482px) {
    .themeAndSearch .search-box button.search-btn {
        width: 50px;
    }

    .themeAndSearch .search-box button.search-btn {
        width: 70px;
    }
}

@media screen and (max-width: 1249px) {
    .main-sidebar .main-sidebar-content {
       padding: 10px 30px;
       margin: 15px 10px 0 10px;
    }

    .themeAndSearch {
        width: 100%;
    }

    .themeAndSearch .search-box input.search-input {
        display: none;
    }

    .themeAndSearch .search-box button.search-btn {
        border-radius: 20px;
        width: 70px;
    }

}

@media screen and (max-width: 534px) {
    .main-sidebar .main-sidebar-content {
        padding: 5px 10px;
    }

    .main-sidebar .main-sidebar-content .logo img.logo-img {
        width: 60px;
        height: 60px;
    }
    


    .main-sidebar .main-sidebar-content {
        padding: 10px 20px;
    }

    .main-sidebar .main-sidebar-content .themeAndSearch {
        width: 100%;
        justify-content: center;
        padding: 0;
    }

    .themeAndSearch .search-box {
        border-radius: 20px;
        width: 50%;
    }

    .themeAndSearch .search-box button.search-btn {
        width: 60px;
    }

    .themeAndSearch .theme-selector {
        width: 60px;
        border-radius: 20px;
    }
    
}

/* -------------------------------------main-style------------------------------------------------ */

main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--body-clr);
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

main .recipe-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin: 10px auto;
    padding: 20px;
}

main .recipe-container .recipe {
    background-color: var(--box-clr);
    display: flex;
    flex-direction: column;
    color: var(--body-clr);
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 34, 0.5);
}

main .recipe-container h1 {
    color: var(--light-mode-header-clr);
    text-align: center;
}



/* --------------------------all-style--------------------------------------------- */

.hiddenAuto {
    overflow-y: auto;
}